<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<header>
  <nav>
    <a href="/" class="logo">
      <img src="/favicon.ico" alt="Payton St. Geme logo" width="32" height="32">
      <span>PAYTON ST. GEME</span>
    </a>
    
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/posts.html">POSTS</a></li>
      <li><a href="/views.html">VIEWS</a></li>
    </ul>
    
    <button class="menu-toggle" aria-label="Toggle menu">
      <span class="material-icons">menu</span>
    </button>
  </nav>
</header>
